h1{
      color: rgb(167, 152, 152)!important;
      text-align: center;
      padding-top: 20px;
}

.input{
        width: 300px !important;
        color: blanchedalmond !important;
        
}
.main{
        box-shadow: 1px 1px 2px 0.5px;
        background-color: blanchedalmond;
        width: 500px;

}
